@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .sidebar-transition:hover,
  .group:hover .sidebar-transition {
    transition: width, box-shadow, border-radius;
    transition-duration: 200ms;
    transition-delay: 500ms;
  }
}